params.reference    = "/home/alexandr/Documents/octopus-variant-calling/data/references/hs38DH.fa"
params.reads        = "/home/alexandr/Documents/octopus-variant-calling/data/reads/raw/*R{1,2}*.fastq*"
params.outdir       = "results"
params.help = false
params.cpus = 10
params.memory = 7
docker.enabled = true

process {
    withName:REFINDEX {
        container = 'glebusasha/bwa_samtools'
    }
    withName:QCONTROL {
        container = 'nanozoo/fastp'
    }
    withName:ALIGN {
        container = 'glebusasha/bwa_samtools:tagname'
    }  
    withName:PREPARE {
		container = 'glebusasha/bwa_samtools:tagname'
	}
    withName:VARCALL {
		container = 'dancooke/octopus'
	}
}


/*
 *
 */
