params.cpus = 10
params.memory = 10
singularity.enabled = true

process {
    withName:REFINDEX {
        container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
    }
    withName:QCONTROL {
        container = 'library://hud/mgnext/fastp:0.20.1'
    }
    withName:ALIGN {
        container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
    }  
    withName:PREPARE {
		container = 'library://hindrek/nipt/bwa_samtools:1.0.0'
	}
    withName:VARCALL {
		container = 'library://glebus-sasha/repo/octopus:0.7.4'
	}
}


/*
 *
 */
